body {
    padding: 0;
    margin: 0;
    background-color: #222;
    color: #fff;
    font-family: monospace;
  }
  
  header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: #000;
    height: 80px;
    padding: 0 20px;
  }
  
  header img {
    height: 48px;
    width: auto;
  }
  
  header .header-links {
    display: flex;
    align-items: center;
  }
  
  header .header-links a {
    color: #fff;
    margin-left: 20px;
    text-decoration: none;
  }
  
  main {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #333;
    min-height: 500px;
  }
  
  .grid {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 20px;
    width: 80%;
    margin: 0 auto;
    margin-top: 20px;
    margin-bottom: 50px;
  }
  
  .grid-item {
    border-radius: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: rgb(41, 41, 41);
    color: #fff;
    margin-top: 30px;
  }
  .grid :hover {
    background-color: #444;
    color: rgb(255, 255, 255);
  }
  .grid-item img {
    border-radius: 5px;
    width: 100%;
    height: 100%;
  }
  .grid a{
    text-decoration: none;
  }
  .grid-item p {
    margin: 10px 0;
    font-size: 14px;
    font-weight: 600;
    text-align: center;
  }
  
  footer {
    padding-top: 20px;
    display: flex;
    justify-content: space-between;
    color: #fff;
    padding: 20px;
  }
  
  footer .left ul {
    list-style: none;
    margin: 0;
    padding: 0;
  }
  
  footer .right img {
    height: 32px;
    width: 32px;
    margin-left: 10px;
  }
  
  a {
    color: #f60;
  }
  
  @media (max-width: 900px) {
    .grid {
      display: flex;
      flex-direction: column;
      padding: 0;
    }
    .grid-item {
      width: 100%;
      padding: 0;
      margin-top: 20px;
    }
  }
  